.modal-bg {
    position: absolute;
    margin: 0 -1rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgba(0, 0, 0, .4);
}

.modal-window {
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fff;
    width: 400px;
    padding: 20px 20px;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.settings-header h4 {
    font-size: 18px;
    font-weight: 700;
    color:rgb(198, 198, 198);
}

.close-btn {
    border: none;
    background: rgba(255, 255, 255, 0);
}

.close-btn img {
    display: flex;
    width: 20px;
}

.inputs h5 {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color:rgb(78, 78, 78);
}

.timer-inputs {
    display: flex;
    justify-content: space-between;
    color:rgb(198, 198, 198);
    font-weight: 700;
    /* border: 1px solid green; */
}

.timer-inputs label {
    display: flex;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.timer-inputs input {
    width: 6rem;
    padding: 5px;
    background: rgb(228, 228, 228);
    border: none;
    outline: none;
}

.separator {
    width: 99%;
    max-width: 640px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo > a {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.logo > a:hover {
    color: #fff;
    text-decoration: none;
}

.logo h2 {
    padding-left: 5px;
    margin: auto 0;
    font-size: 22px;
}

.options {
    display: flex;
}

.options button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background: rgba(255, 255, 255, .13);
    transition: 1s;
    outline: none;
}

.options img {
    width: 15px;
    margin-right: 5px;
}